#name-profile,
#surname-profile {
    font-size: 26px;
    color: #646363;
}

label{
    font-size: 14px;
    color: #9a9595;
    display: inline-block;
    margin-left: 10px;
    max-width: 100%;
}

hr {
    margin-top: 0px;
    color: #767676;
}

img {
    margin-top: 20px;
    width: 250px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
