// Place all the styles related to the Skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.skill-short {
  margin-left: 300px;
  margin-right: 100px;
  height: 100px;
  width: 500px;

  .name {
  text-align: left;
  }

  .level {
  text-align: right;
  }
}

.skills{
  text-align: center;
}